<div class="sidenav">
  <h4>Base Map Layers</h4>
  <input type="radio" name='baseMapLayerRadio' value='googleSatelliteMap' style="margin-left: 10px;" checked>
  <label class="radioLayer">Google Satellite Map</label><br>
  <input type="radio" name='baseMapLayerRadio' value='googleRoadMap' style="margin-left: 10px;">
  <label class="radioLayer">Google Roads Map</label><br>
  <input type="radio" name='baseMapLayerRadio' value='OSMStandard' style="margin-left: 10px;" >
  <label class="radioLayer">OSM Standard</label><br>
  <input type="radio" name='baseMapLayerRadio' value='OSMHumanitarian' style="margin-left: 10px;">
  <label class="radioLayer">OSM Humanitarian</label><br>
  <input type="radio" name='baseMapLayerRadio' value='BingMaps' style="margin-left: 10px;">
  <label class="radioLayer">Bing</label><br>
  <input type="radio" name='baseMapLayerRadio' value='CartoDBLight' style="margin-left: 10px;">
  <label class="radioLayer">CartoDB Light</label><br>
  <input type="radio" name='baseMapLayerRadio' value='CartoDBDark' style="margin-left: 10px;">
  <label class="radioLayer">CartoDB Dark</label><br>
  <input type="radio" name='baseMapLayerRadio' value='stamenTonerMap' style="margin-left: 10px;">
  <label class="radioLayer">Stamen Toner</label><br>
  <input type="radio" name='baseMapLayerRadio' value='stamenWatercolornMap' style="margin-left: 10px;">
  <label class="radioLayer">Stamen Watercolor</label><br>
  <h4>Vector Layers</h4>
  <input type="checkbox" name="layerCheckBox" value="TcCitiesGeoJSON" style="margin-left: 10px;" checked>
  <label class="checkBoxLayer">Boundaries of Turkey</label><br>
  <input type="checkbox" name="layerCheckBox" value="TcCityCentersGeoJSON" style="margin-left: 10px;">
  <label class="checkBoxLayer">City Center in Turkey</label><br>
  <h4>Services</h4>
  <input type="checkbox" name="layerCheckBox" value="roadsInAnkara" style="margin-left: 10px;">
  <label class="checkBoxLayer">The roads of Ankara</label>
</div>

<p style="margin-left: 200px">dashboard is working !!</p>

<div class="map-container" style="margin-left: 200px">
  <div id="map" class="map">
    <div class="overlay-popup-container">
      <!-- <span class="overlay-popup-text" id="popup-feature-name"></span><br>
      <span class="overlay-popup-text" id="popup-feature-info"></span><br> -->
    </div>
  </div>
  <div id="coordinates"><span id="coordinate-span">Koordinatlar</span></div>
</div>

