// @import url('https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v6.4.3/css/ol.css');

#map {
  height: 600px;
  width: auto;
}

#coordinates {
  float: right;
  text-align: center;
  color: black;
  background:rgb(166, 245, 155);
  font-family: Arial, Helvetica, sans-serif;
  width:25%;
  height:25%;
}

.ol-zoom .ol-zoom-in {
  border-radius: 50%;
}
.ol-zoomslider, .ol-touch .ol-zoomslider {
  top: calc(1.875em + 6px);
  left: calc(.5em + 12px);
  width: 2px;
  }

// Side bar settings !
/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}
/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #c5c2c2;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
.radioLayer {
  color:rgb(191, 207, 207);
}
.radioLayer:hover {
  color: white;
}
.checkBoxLayer {
  color:rgb(191, 207, 207);
}
.checkBoxLayer:hover {
  color: white;
}

h4 {
  color:rgb(122, 129, 129);
  margin-left: 10px;
}
h4:hover {
  color: white;
}

/* Style page content */
.main {
  margin-left: 100px; /* Same as the width of the sidebar */
  padding: 0px 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/***** Bunlar eski stiller yenide calismiyor !!!!!! ********/
// .ol-control button {
//   background-color: rgba(219,63,63,.5);
// }
// .ol-control button:focus {
//   background-color: rgba(219,63,63,.5);
// }
// .ol-control button:hover {
// background-color: rgba(219,63,63,1);
// }
// .ol-scale-line {
//   background-color: rgba(219,63,63,.5);
// }
// .ol-overviewmap {
//   bottom: 2em;
// }
// .ol-mouse-position {
//   font-family: monospace;
// }
// button.ol-zoom-in {
//   background-color: aquamarine;
// }
// .ol-zoom { /***********/
//   background-color: rgba(219,63,63,.1);
//   border-width: 2px;
//   border-color: rgba(219,63,63,1);
// }
